@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --result0: #BFBFBF;
    --result1: #87B2E3;
    --result2: #C1E999;
    --result3: #FAE487;
    --result4: #FAB587;
    --result5: #F38A8A;
    --btnblue: #A6ADFF;
    --btngrey: #E5E5E5;
    --lightgrey: #BFBFBF;
    --grey: #666666;
    --bg: #F6F6F6;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);

    transition: background-color 3s;
}

p,
h1,
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    transition: color 3s;
}

p {
    font-size: small;
    color: var(--lightgrey);
}

h1 {
    font-size: 1.4em;
    font-weight: normal;
    color: var(--grey);
}

h2 {
    font-size: 1em;
    font-weight: normal;
    color: var(--grey);
}

span {
    transition: color 3s;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    height: 100vh;
}
#top {
    min-height: 150px;
}
#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 250px;
}
#form > div {
    width: 90px;
    height: 100px;
    padding: 0 25px;
}
#form > div > span {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: var(--lightgrey);
    text-transform: uppercase;
}

.gender,
.height {
    text-align: right;
}

/* FORMS */
select, 
input {
    margin-top: 15px;
    margin-left: 5px;
    padding-right: 10px;
    width: 80px;
    border: 0;
    border-bottom: 1px solid var(--grey);
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--lightgrey);
    transition: color 3s;
}
select option {
    background-color: var(--bg);
}
input {
    width: 50px;
    padding-right: 0;
    text-align: right;
}
button {
    width: 150px;
    padding: 15px;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    background-image: linear-gradient(0deg, var(--btnblue), var(--btngrey));
    box-shadow: 2px 2px 2px var(--grey);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--grey);
    cursor: pointer;
}
button:hover {
    box-shadow: none;
}
button:active {
    margin-top: 2px;
    margin-right: 2px;
    box-shadow: inset 1px 1px 2px #666;
}

.grey {
    background-color: var(--result0);
}
.grey p,
.grey input,
.grey select,
.grey #form > div > span {
    color: #FFF;
}
.blue {
    background-color: var(--result1);
}
.blue p,
.blue input,
.blue select,
.blue #form > div > span {
    color: #FFF;
}
.green {
    background-color: var(--result2);
}
.green p,
.green input,
.green select,
.green #form > div > span {
    color: #AAA;
}
.yellow {
    background-color: var(--result3);
}
.yellow p,
.yellow input,
.yellow select,
.yellow #form > div > span {
    color: #AAA;
}
.orange {
    background-color: var(--result4);
}
.orange p,
.orange input,
.orange select,
.orange #form > div > span {
    color: #FFF;
}
.red {
    background-color: var(--result5);
}
.red p,
.red input,
.red select,
.red #form > div > span {
    color: #FFF;
}